@import '../utils/base/base.scss';

.header {
    display: none;
}

.wrapper {
    display: grid;
    grid-template-areas: "aside login";
    grid-template-columns: 42% 58%;
    height: 100vh;

    @media (max-width: $smartphone) {
        display: grid;
        grid-template-areas: "login";
        grid-template-columns: 100%;
    }
}