.aside {
    grid-area: aside;

    &__image{
        background-image: url("../assets/imagebkg.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        object-fit: contain;
        width: 100%;
    }
}