@import '../utils/base/base.scss';

.aside {
    grid-area: aside;
    position: relative;

    &__image{
        background-image: url("../assets/imagebkg.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        object-fit: contain;
        width: 100%;

        &__logo {
            left: 20%;
            position: absolute;
            top: 7%;
            width: 100px;

            @media (max-width: $mid-screen) {
                display: none;
            }
        }
    }
}