.corporate__trade {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    grid-area: trade;

    &__logo {
        object-fit: contain;
        width: 34%;
    }

    &__phrase {
        color: grey;
        font-size: 130%;
        margin: 0;
        text-align: center;
    }

    &__welcome {
        font-size: 250%;
        font-weight: 500;
        margin: 3% 0;
    }
}