@import '../utils/base/base.scss';

.footer {
    background-color: $base-footer;
    display: flex;
    grid-area: footer;
    height: 100%;
    justify-content: space-between;

    &__logo {
        margin-right: 9.2em;
        object-fit: contain;
        width: 7%;
    }
}

.fab {
    color: white;
    font-size: 2.1em;
    margin-top: .8em;
    transition: all 800ms ease-in-out;

    &:hover {
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
        transform: rotate(90deg);
    }
}

.fa-facebook-square {
    margin-left: 2.2em;
}

.fa-instagram {
    margin-left: .5em;
}