@import '../utils/base/base.scss';

.input__field__container {
    grid-area: input;
    margin: 1em;
    position: relative;

    &__icon {
        &--user {
            right: 1.5em;
            top: 1.375em;
        }

        &--password {
            right: 1.375em;
            top: 5.43em;
        }
    }

    &__text {
        border-radius: .2em;
        border: .1em grey solid;
        margin: .5em 0;
        padding: 1.2em;
        width: 100%;
    }

    &__container > input:placeholder {
        color: grey;
    }
}

.icon {
    border-radius: 50%;
    height: 1.5em;
    position: absolute;
}

input[type="text"]:focus {
    outline: none;
    border: 1px solid $base-yellow;
}