@import '../utils/base/base.scss';

.login_button {
    background-color: $base-yellow;
    border-radius: .2em;
    border: none;
    box-shadow: -1px 3px 4px #b3dddd;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    grid-area: button;
    height: 80%;
    width: 90%;

    &_container {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: button;
    }
}