@import '../utils/base/base.scss';

.login_container {
    display: grid;
    grid-area: login;
    grid-template-areas:
        ". . . "
        ". trade . "
        ". input . "
        ". link . "
        ". button . "
        ". . . ";
    grid-template-columns: 1fr 2.8fr 1.2fr;
    grid-template-rows: 10% 2fr 1fr .5fr .7fr 12%;
    height: 100vh;

    @media (max-width: $small-screen) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 2fr 1fr .5fr .7fr 12%;
    }
}