@import '../utils/base/base.scss';

.login_container {
    display: grid;
    grid-area: page;
    grid-template-areas:
        ". . . "
        ". trade . "
        ". pageNotication ."
        ". input . "
        ". link . "
        ". button . "
        ". . . ";
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 1fr .1fr .6fr .3fr .4fr 5%;
    height: 100vh;

    @media (max-width: $small-screen) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 1fr 2fr .4fr .7fr 12%;
    }

    @media (max-width: $mid-screen) {
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 10% 1fr 2fr .4fr .7fr 12%;
    }
}