.page__notification {
    align-self: center;
    background-color: rgba(136, 1, 1, 0.733);
    border-radius: 16px;
    color: white;
    font-size: 100%;
    grid-area: pageNotication;
    justify-self: center;
    margin-top: 2%;
    text-align: center;
    width: 80%;
}