
/* Colors */

$base-border: #b3dddd;
$base-footer: #1f1f1f;
$base-yellow: #f9c444;

/* breakpoints for differents devices */

$extra-large-screen: 90em;
$extra-small-screen: 22.5em;
$mid-screen: 34.3em;
$small-screen: 23.4em;